<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.modules.cageshelf.mapper.CageDivisionMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cage_division (animal_cage_id, assignee_id, assignee_name, group_name,
                                   created_by, created_by_name)
        VALUES (#{animalCageId}, #{assigneeId}, #{assigneeName}, #{groupName},
                #{createdBy}, #{createdByName})
    </insert>

    <delete id="deleteByCageIds">
        DELETE FROM cage_division WHERE animal_cage_id IN
        <foreach collection="cageIds" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>

    <delete id="deleteByCageAndAssignee">
        DELETE FROM cage_division
        WHERE animal_cage_id = #{animalCageId}
          AND assignee_id IN
        <foreach collection="assigneeIds" item="aid" open="(" separator="," close=")">#{aid}</foreach>
    </delete>

    <select id="listAll" resultType="com.example.demo.modules.cageshelf.entity.CageDivision">
        SELECT * FROM cage_division
    </select>

    <select id="listByCageIds" resultType="com.example.demo.modules.cageshelf.entity.CageDivision">
        SELECT * FROM cage_division
        WHERE animal_cage_id IN
        <foreach collection="cageIds" item="id" open="(" separator="," close=")">#{id}</foreach>
        ORDER BY animal_cage_id ASC, id ASC
    </select>

</mapper>
